<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>URLs von Kategorien ohne Schrägstrich am Ende (FfuenfCategoryUrlSlash)</label>
    <version>1.0.5</version>
    <copyright>(c) by Achim Rosenhagen / ffuenf - Pra &amp; Rosenhagen GbR</copyright>
    <license>proprietary</license>
    <link>https://www.ffuenf.de</link>
    <author>ffuenf</author>
    <compatibility minVersion="5.5.0"/>
    <requiredPlugins>
        <requiredPlugin pluginName="FfuenfCommon" minVersion="1.0.0"/>
    </requiredPlugins>
    <changelog version="1.0.5">
        <changes lang="en">
            fix viewDir
            fix logging call
        </changes>
    </changelog>
    <changelog version="1.0.4">
        <changes lang="en">
            fix template call
            fix config call
            add phpunit dev-dependency for scrutinizer
        </changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="en">
            add missing dependency
        </changes>
        <changes lang="de">
            fehlende Abhängigkeit korrigiert
        </changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="en">
            fix tests
        </changes>
        <changes lang="de">
            Tests korrigiert
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">
            add test-suite ffuenf/SWTestStand
        </changes>
        <changes lang="de">
            Testing mit ffuenf/SWTestStand
        </changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">
            initial public release
        </changes>
        <changes lang="de">
            Erstveröffentlichung
        </changes>
    </changelog>
</plugin>